/* outfit-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100;
    src: url('../src/assets/fonts/outfit-v11-latin-100.woff2') format('woff2');
    
}

/* outfit-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    src: url('../src/assets/fonts/outfit-v11-latin-200.woff2') format('woff2');
    
}

/* outfit-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    src: url('../src/assets/fonts/outfit-v11-latin-300.woff2') format('woff2');
    
}

/* outfit-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/outfit-v11-latin-regular.woff2') format('woff2');
    
}

/* outfit-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/outfit-v11-latin-700.woff2') format('woff2');
    
}


:root {
    -btn: #FC4747;
    -btn-over: #FFFFFF;
    -bg: #10141E;
    -background: #5A698F;
    -bg-menu: #161D2F;
    -text: #FFFFFF;
    -link: #FC4747;
}



















/* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */